* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,1);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

/* Section Images */
section#home {
  background: url('banner27.jfif') no-repeat center center/cover;;
}

section#about {
background-color: black;
}


section#expertise {
background-color: black;
}
section#myskills {
 background-color:black;

 
}

section#projects {
  background-color:black;
}

section#certifications {
 background-color: black;
}

section#contact {
  background-color:black;
}



#img1
{
  border-radius: 50%;
  
}

hr
{
  border: 3px solid aqua;
  
}

#myskills11
{
  float:left;
  width:32%;
  background-color:black;
  
  text-align: left;

}
#myskills12
{
  float:left;
  width:32%;
  background-color:black;
  text-align: left;
}
#myskills13
{
  float:left;
  width:32%;
  text-align: left;

}

#myskillsmain
{
  background-color:black;
  width: 100%;
}


/*progress bar skiilsss*/


.contentContainer {
  background:black;
  padding: 20px;
  max-width: 350px;
  min-width: 150px;
  
  border-radius: 10px;
  
}

/*///////////////////////////////////////////////////////
// Progress Bars \\ 
///////////////////////////////////////////////////////*/

.progressBar {
  margin-bottom: 26px;
  margin-bottom: 1.66em;
}

.progressBar h4 {
  font-size: 21px;
  font-size: 1.33em;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 7px;
  margin-bottom: .33em;
}

.progressBarContainer {
  width: 100%;
  max-width: 350px;
  height: 20px;
  height: 0.66em;
  background: #e6eae3;
  background: rgba(8,102,220,.2);
  overflow: hidden;
  border-radius: 5px;
}

.progressBarValue {
  height: 1.66em;
  float: left;
  background: #0866dc;
  background: rgba(8,102,220,.75);
}

.value-00 { width: 0; }

.value-10 { width: 10%; }

.value-20 { width: 20%; }

.value-30 { width: 30%; }

.value-40 { width: 40%; }

.value-50 { width: 50%; }

.value-60 { width: 60%; }

.value-70 { width: 70%; }

.value-80 { width: 80%; }

.value-90 { width: 90%; }

.value-100 { width: 100%; }

#myskillsmain2
{
  width:100%;
  
}
#caro1
{
  width: 100;
}
#projects1
{
  width: 100%;
}

#projects2
{
  width: 100%;
}

#projects3
{
  width: 100%;
}